@media only screen and (min-width: 0px) {

    #hero {
        min-height: 400px;
        height: 400px;
        background: url('/images/semi-truck-1024.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    #hero::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgb(0 0 0 / 25%);
    }
    
    #hero h1 {
        position: relative;
        text-align: center;
        font-size: 3.25rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        z-index: 50;
        top: -70px;
        color: white;
    }
    #hero h1::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-left: 10px solid var(--primary);
        left: -25px;
        z-index: -1;
    }
    
}

/* Landscape */
@media only screen and (min-width: 568px) {

    #hero {
        height: 600px;
    }

    #hero h1 {
        font-size: 5.5rem;
        top: -100px;
    }

}

/* Tablet */
@media only screen and (min-width: 768px) {

    #hero h1 {
        text-align: left;
        font-size: 6rem;
        max-width: 300px;
        top: -20px;
        left: -50%;
    }
    #hero h1::before {
        left: -35px;
    }

}

@media only screen and (min-width: 1024px) {

    #hero {
        background: url('/images/semi-truck-1920.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    #hero h1 {
        left: -250px;
        top: 50px;
    }

}

@media only screen and (min-width: 1300px) {

    #hero h1 {
        font-size: 8rem;
        left: -250px;
        max-width: 600px;
    }

}

@media only screen and (min-width: 1700px) {

    #hero {
        background-position: 0 -400px;
    }

    #hero h1 {
        left: -350px;
    }

}

/*-- -------------------------- -->
<---            About           -->
<--- -------------------------- -*/

#about {
    margin-bottom: 50px;
}

#about .container {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

#about img {
    width: 250px;
    margin-bottom: 25px;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 13px 6px rgba(22, 52, 71, .25);
    box-shadow: 2px 2px 13px 6px rgba(22, 52, 71, .25);
}

#about h2 {
    font-size: 2em;
    font-weight: 700;
    color: var(--primary);
    padding: 25px 0;
    text-align: left;
}

#about p {
    max-width: 550px;
    padding: 10px 0;
}

#about p a {
    text-decoration: none;
    color: var(--secondary);
    font-weight: bold;
}

#about h4 {
    font-size: 1em;
    text-align: left;
    font-weight: 600;
    padding: 10px 0;
}

#about .button-solid {
    position: relative;
    margin: 40px auto 0;
    width: 180px;
    font-size: 1rem;
    line-height: 2.5rem;
    padding: 5px 10px;
    display: block;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#about .button-solid::before {
    content: '';
    position: absolute;
    width: 93%;
    height: 200%;
    background-color: white;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    z-index: -1;
}

#about .button-solid::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 75%;
    background-color: white;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    z-index: -1;
}

#about .button-solid span {
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    border: 5px solid var(--primary);
    z-index: -2;
}

#about .button-solid:hover {
    font-weight: bold;
}
#about .button-solid:hover::before {
    width: 0%;
}
#about .button-solid:hover::after {
    height: 0%;
}


/* Landscape Mobile */
@media only screen and (min-width: 568px) {

}

/* Tablet */
@media only screen and (min-width: 768px) {

}

/* Small Desktop */
@media only screen and (min-width: 1024px) {

    #about .container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    #about img {
        width: 350px;
        height: auto;
        border-radius: 10px;    
    }
    
    #about h2 {
        font-size: 2.5em;
        padding-top: 0;
    }

    #about a {
        font-size: 1.1em;
    }

}
