@media only screen and (min-width: 0) {
  
    #hero {
        min-height: 400px;
        height: 400px;
        background: url('/images/guy-on-phone.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
    }

    #hero h1 {
        font-size: 2rem;
        width: 235px;
        margin: 0 10px 0 auto;
        color: white;
        letter-spacing: 3px;
    }

    #contact {
        max-width: 600px;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .card {
        background-color: #f5f5f5;
        padding: 20px 20px 50px;
        margin-top: 20px;
    }

    .card h4 {
        position: relative;
        margin: 40px 0 40px 10px;
    }
    .card h4::before {
        content: '';
        position: absolute;
        border-top: 3px solid var(--secondary);
        width: 120px;
        top: -10px;
        left: -10px;
    }
    .card h4::after {
        content: '';
        position: absolute;
        border-top: 3px solid var(--secondary);
        width: 120px;
        bottom: -10px;
        left: -10px;
    }

    /* Left Column */

    .left-col h1 {
        color: var(--primary);
        font-size: 2rem;
    }

    .contact-info {
        position: relative;
        margin: 50px 40px;
    }
    .contact-info::before {
        content: '';
        position: absolute;
        border-left: 3px solid var(--secondary);
        height: 100%;
        bottom: 0;
        left: -30px;
    }

    .contact-info p {
        font-size: 1.25rem;
        padding: 5px 0;
    }

    .contact-info p a {
        font-size: 1rem;
        text-decoration: none;
        color: var(--primary);
        font-weight: bold;
    }

    .contact-info span {
        display: block;
    }

    /* Right Column */

    /* FORM */

    #signup-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .signup {
        background-color: #f5f5f5;
    }

    .text-fields {
        margin: 5px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .text-fields div {
        margin-right: 15px;
    }

    .double div {
        width: 50%;
    }

    .single div {
        width: 100%;
    }

    .required::after {
        content: '*';
        color: #790000;
        margin-left: 5px;
    }

    .bottom-label-input {
        margin-bottom: 0;
    }

    .bottom-label {
        font-size: 0.75rem;
    }

    input {
        padding: 10px 20px 10px 5px;
        margin: 10px 0 15px;
        font-size: 0.75rem;
        width: 100%;
    }

    .radio-type {
        padding: 0;
        margin: 10px 0;
        font-size: 1rem;
        width: auto;
    }

    select {
        padding: 10px 10px 10px 0;
        margin: 10px 0;
    }

    option {
        font-size: 0.75rem;
    }

    textarea {
        margin: 10px 0 15px;
        font-size: 0.75rem;
        width: 100%;
        height: 75px;
    }

    .form-submit  {
        margin-top: 25px;
    }

    .form-submit button {
        width: 125px;
        background-color: white;
        color: var(--primary);
        font-weight: bold;
    }

}

@media only screen and (min-width: 568px) {

    #hero h1 {
        font-size: 3rem;
        width: 340px;
    }

}

@media only screen and (min-width: 768px) {

    #contact {
        max-width: 1000px;
        -webkit-box-orient: horizontal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-around;    
    }

    .left-col {
        max-width: 300px;
    }

    .right-col {
        width: 600px;;
    }

}

@media only screen and (min-width: 768px) {

    #hero h1 {
        font-size: 4rem;
        width: 440px;
    }

    #contact {
        max-width: 1200px;
    }

}

@media only screen and (min-width: 1024px) {

    #hero {
        height: 600px;
    }

    #hero h1 {
        margin: 100px 10px 0 auto;
    }

}

@media only screen and (min-width: 1300px) {

    #hero h1 {
        font-size: 5rem;
        width: 540px;
        margin: 100px -100px 0 auto;
    }

}